<form action="/bulletinboard/article_create" method="post">
  <%# hidden属性のcsrfトークンを表示 %>
  <%= csrf_tag %>

  <h2>タイトル</h2>
  <div>
    <input type="text" name="title" />
  </div>

  <h2>本文</h2>
  <div>
    <input type="text" name="content" />
  </div>

  <div>
    <input type="submit" value="Add Article" />
  </div>
</form>